<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipssi.ocr">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ipssi.OcrApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/intelli"
        android:label="OcrReaderApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".CaptureImageActivity"
            android:label="@string/capture_upload"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".AfterUnloadActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Reports"
            android:label="@string/report"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ManualEntryActivity"
            android:label="@string/manual"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AfterLoadActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PreLoadDetails"
            android:label="@string/tracking_status"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PreLoad"
            android:label="@string/check_tracking"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr,barcode" />

        <activity
            android:name=".ocrUI.OcrCaptureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>